[package]
name = "measure"
version = "0.2.1"
authors = ["museun@outlook.com"]
edition = "2018"

[dependencies.winapi]
version =  "0.3.7"
features = [ 
    "winnt",
    "processthreadsapi",
    "minwinbase",
    "winbase",
    "jobapi2",
    "handleapi",
    "synchapi",
]
